.feed{
    flex: 8;
    margin: 5px 40px;

    .container{
        display: flex;
        flex-direction: column;
        
        
        .posts{
            padding: 10px;

            .wrapper{
                padding: 10px;
            }
        }
    }
}